<div class="col-md-12">
  <div class="panel panel-primary wrapper">
    <div class="panel-heading">
      <h3>All artists</h3>
    </div>
    <div class="panel-body">
      <div class="sort-links">
      <%= sort_link("name", "Sort by name") %><br>
      <%= sort_link("created_at", "Sort by creation time") %>
      </div>
    </div>
      <div class="row">
            <% @artists.each do |artist| %>
        <div class="row-index">
          <div class="col-sm-6 artist-wrapper">
            <div class="artist-image"><%= image_tag(artist.photo.image) %></div>
            <div class="caption-artist"><h4><%= link_to artist.artistname, artist%></h4></div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
